.experience-text {
    display: flex;
    justify-content: center;
}


.experience-text h1 {
    font-size: xx-large;
    font-family: cpb;
}


.my-experience {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 55vh;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 2%;
    margin-bottom: 2%;
    -ms-overflow-style: none;  /* Hide scrollbar for E and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}


.my-experience::-webkit-scrollbar {
    display: none; /*Hide scrollbar for Chrome, Safari and Opera */
}


.experience-card {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    height: 50vh;
    width: 20vw;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    margin-right: 10px;
    cursor: pointer;
}


.experience-card img{
    width: 200px;
    height: 200px;
}


.experience-card h2 {
    font-size: x-large;
    margin-bottom: 0;
    text-align: center;
}


.experience-card h3 {
    font-size: large;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}


@media (max-width: 1750px) {
    .experience-text h1 {
        font-size: x-large;
    }


    .experience-card {
        height: 52.5vh;
        width: 21vw;
    }


    .experience-card h2 {
        font-size: large;
    }


    .experience-card h3 {
        font-size: small;
    }


    @media (max-width: 1200px) {
        .my-experience {
            height: 70vh;
        }


        .experience-card {
            height: 60vh;
            width: 40vw;
        }

        .experience-card img{
            width: 250px;
            height: 250px;
        }

        .experience-card h2 {
            font-size: x-large;
        }


        .experience-card h3 {
            font-size: large;
        }

    }


    @media (max-width: 850px) {
        .my-experience {
            height: 75vh;
            margin-left: 4vw;
            margin-right: 4vw;
        }


        .experience-card {
            height: 65vh;
            width: 50vw;
        }


        .experience-card img{
            width: 280px;
            height: 280px;
        }
    }


    @media (max-width: 650px) {
        .my-experience {
            height: 65vh;
        }


        .experience-card {
            height: 55vh;
            width: 60vw;
        }


        .experience-card img{
            width: 280px;
            height: 280px;
        }
    }

    @media (max-width: 500px) {
        .my-experience {
            height: 60vh;
        }


        .experience-card {
            height: 50vh;
            width: 60vw;
        }


        .experience-card h2 {
            font-size: large;
        }


        .experience-card h3 {
            font-size: small;
        }

        .experience-card img{
            width: 200px;
            height: 200px;
        }
    }
}