.experience-text {
    display: flex;
    justify-content: center;
}


.experience-text h1 {
    font-weight: bold;
    font-size: xx-large;
}

.my-experience {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 55vh;
    overflow-x: scroll;
    margin-left: 8vw;
    margin-right: 8vw;
}


.my-experience {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.my-experience::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}


.experience-card {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    height: 50vh;
    width: 20vw;
    align-items: center;
    justify-content: center;
}

.experience-card img{
    width: 50%;
    height: 50%;
}

.experience-card h2 {
    font-size: x-large;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
}

.experience-card h3 {
    font-size: large;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: lighter;
    text-align: center;
}


@media (max-width: 1750px) {
    .experience-text h1 {
        font-weight: bold;
        font-size: x-large;
    }

    .experience-card {
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        height: 40vh;
        width: 28vw;
        align-items: center;
        justify-content: center;
    }

    .experience-card img{
        width: 35%;
        height: 35%;
    }

    .experience-card h2 {
        font-size: large;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
    }

    .experience-card h3 {
        font-size: small;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: lighter;
        text-align: center;
    }

    @media (max-width: 950px) {
        .my-experience {
            height: 45vh;
        }


        .experience-card {
            display: flex;
            flex-direction: column;
            flex: 0 0 auto;
            height: 40vh;
            width: 40vw;
            align-items: center;
            justify-content: center;
        }

        .experience-card img{
            width: 30%;
            height: 30%;
        }
    }

    @media (max-width: 650px) {
        .experience-text h1 {
            font-weight: bold;
            font-size: larger;
        }

        .my-experience {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            height: 40vh;
            overflow-x: scroll;
            margin-left: 4vw;
            margin-right: 4vw;
        }

        .experience-card {
            display: flex;
            flex-direction: column;
            flex: 0 0 auto;
            height: 35vh;
            width: 50vw;
            align-items: center;
            justify-content: center;
        }

        .experience-card img{
            width: 35%;
            height: 38%;
        }
    }

    @media (max-width: 400px) {
        .my-experience {
            height: 45vh;
        }

        .experience-text h1 {
            font-weight: bold;
            font-size: small;
        }

        .my-experience {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            height: 45vh;
            overflow-x: scroll;
            margin-left: 0vw;
            margin-right: 0vw;
        }

        .experience-card {
            display: flex;
            flex-direction: column;
            flex: 0 0 auto;
            height: 40vh;
            width: 60vw;
            align-items: center;
            justify-content: center;
        }

        .experience-card img{
            width: 35%;
            height: 32%;
        }

        .experience-card h2 {
            font-size: small;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
        }

        .experience-card h3 {
            font-size: x-small;
            margin-bottom: 0;
            margin-top: 0;
            font-weight: lighter;
            text-align: center;
        }
    }
}